<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/style/summary.css">
    <title>CMS & IVMS</title>
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/style/summary.css">
    <link rel="stylesheet" href="{% static 'style/summary.css' %}">
    <title>CMS & IVMS</title>
</head>
<body>
                                              
    <div class="container">
           <!-------------------------------------------- ### Sidebar copy in all pages ###--------------------------------->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/static/img/logo1.png">
                    
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="index" class="active">
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">shopping_basket</span>
                    <h3>CMS Report</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">local_shipping</span>
                    <h3>IVMS Report</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">location_on</span>
                    <h3>Map</h3>
                </a>
                <!-- <a href="#">
                    <span class="material-symbols-sharp">mail_outline</span>
                    <h3>Messsages</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">inventory</span>
                    <h3>Products</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">summarize</span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">add</span>
                    <h3>Add Product</h3>
                </a> -->
                <a href="#">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- ---------------------------------------------  END OF sidebar  --------------------------------------------------- -->
        <main>
            <h1>Dashboard</h1>
            <hr>
            <h1>CMS</h1>
            <br>
          

            <!-- <div class="date">
                <input type="date">
            </div> -->

            <div class="insights">
                <div class="sales">
                    
                    
                        <div class="lef">
                             <h3>Total</h3>
                             <!-- number of crates in each location -->
                             <h1>$25,024</h1> 
                        </div>
                       
                   
                    <small class="text-muted">Live</small>
                </div>
                <!-- ----------------------------  END OF SALES  ------------------------------------------->
                <div class="expenses">
                        <div class="lef">
                             <h3> Factory</h3>
                             <h1>$14,555</h1>
                        </div>
                    <small class="text-muted">Live</small>
                </div>
                <!-- ----------------------------  END OF EXPANSES  ------------------------------------------->
                <div class="income">
                        <div class="lef">
                             <h3>Store 1</h3>
                             <h1>$10,024</h1>
                        </div>
                    <small class="text-muted">Live</small>
                </div>
                <!-- ---------------------------------------------- -->
                <div class="income">
                    <div class="lef">
                         <h3>Store 2</h3>
                         <h1>$10,024</h1>
                    </div>
                <small class="text-muted">Live</small>
            </div>
            <!-- ---------------------------------------------- -->
            <div class="income">
                <div class="lef">
                     <h3>Store 3</h3>
                     <h1>$10,024</h1>
                </div>
            <small class="text-muted">Live</small>
        </div>
        <!-- ---------------------------------------------- -->
        <div class="income">
            <div class="lef">
                 <h3>Store 4</h3>
                 <h1>$10,024</h1>
            </div>
        <small class="text-muted">Live</small>
    </div>
    <!-- ---------------------------------------------- -->
    <div class="income">
                        <div class="lef">
                            <h3>Store 5</h3>
                            <h1>$10,024</h1>
                       </div>
                   
                   <small class="text-muted">Live</small>
               </div>
               <!-- ---------------------------------------------- -->
               <div class="income">
                   <div class="lef">
                        <h3>Store 6</h3>
                        <h1>$10,024</h1>
                   </div>
               <small class="text-muted">Live</small>
           </div>
           <!-- ---------------------------------------------- -->
           <div class="income">
            <div class="lef">
                 <h3>Store 7</h3>
                 <h1>$10,024</h1>
            </div>
        <small class="text-muted">Live</small>
    </div>
    <!-- ---------------------------------------------- -->
    <div class="income">
        <div class="lef">
             <h3>Trucks</h3>
             <h1>$10,024</h1>
        </div>
    <small class="text-muted">Live</small>
</div>
<!-- ---------------------------------------------- -->
<div class="income">
    <div class="lef">
         <h3>Missing</h3>
         <h1>$10,024</h1>
    </div>
<small class="text-muted">Live</small>
</div>
<!-- ---------------------------------------------- -->
<div class="income">
<div class="lef">
     <h3>Non-Missing</h3>
     <h1>$10,024</h1>
</div>
<small class="text-muted">Live</small>
</div>
<!-- ---------------------------------------------- -->
                <!-- ----------------------------  END OF INCOME  ------------------------------------------->
            </div>
            <br>
            <!-- ----------------------------------   END OF INSIGHTS  ---------------------------------------- -->
          
                
                <h1>IVMS</h1>
                <br>
                <div class="wrap">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="search truck number">
                       <button type="submit" class="searchButton">
                        <span class="material-symbols-sharp">
                            search
                            </span>
                      </button>
                    </div>
                 </div>
              
    
                <!-- <div class="date">
                    <input type="date">
                </div> -->
    
                <div class="insights-2">

                    <div class="sales">
                        
                        
                            <div class="lef">
                                 <h3>Total</h3>
                                 <h1>$25,024</h1>
                            </div>
                           
                       
                        <small class="text-muted">Live</small>
                    </div>
                    <!-- ----------------------------  END OF SALES  ------------------------------------------->
                    <div class="expenses">
                       
                       
                            <div class="lef">
                                 <h3> Factory</h3>
                                 <h1>$14,555</h1>
                            </div>
                           
                        
                        <small class="text-muted">Live</small>
                    </div>
                    <!-- ----------------------------  END OF EXPANSES  ------------------------------------------->
                    <div class="income">
                        
                            <div class="lef">
                                 <h3>Store 1</h3>
                                 <h1>$10,024</h1>
                            </div>
                        
                        <small class="text-muted">Live</small>
                    </div>
                    <!-- ---------------------------------------------- -->
                    <div class="income">
                        
                        <div class="lef">
                             <h3>Store 2</h3>
                             <h1>$10,024</h1>
                        </div>
                    
                    <small class="text-muted">Live</small>
                </div>
                <!-- ---------------------------------------------- -->
                <div class="income">
                        
                    <div class="lef">
                         <h3>Store 3</h3>
                         <h1>$10,024</h1>
                    </div>
                
                <small class="text-muted">Live</small>
            </div>
            <!-- ---------------------------------------------- -->
            <div class="income">
                
                <div class="lef">
                     <h3>Store 4</h3>
                     <h1>$10,024</h1>
                </div>
            
            <small class="text-muted">Live</small>
        </div>
        <!-- ---------------------------------------------- --><div class="income">
                        
                            <div class="lef">
                                <h3>Store 5</h3>
                                <h1>$10,024</h1>
                           </div>
                       
                       <small class="text-muted">Live</small>
                   </div>
                   <!-- ---------------------------------------------- -->
                   <div class="income">
                       
                       <div class="lef">
                            <h3>Store 6</h3>
                            <h1>$10,024</h1>
                       </div>
                   
                   <small class="text-muted">Live</small>
               </div>
               <!-- ---------------------------------------------- -->
               <div class="income">
                        
                <div class="lef">
                     <h3>Store 7</h3>
                     <h1>$10,024</h1>
                </div>
            
            <small class="text-muted">Live</small>
        </div>
        <!-- ---------------------------------------------- -->
        <div class="income">
            
            <div class="lef">
                 <h3>Trucks</h3>
                 <h1>$10,024</h1>
            </div>
        
        <small class="text-muted">Live</small>
    </div>
    <!-- ---------------------------------------------- -->
    <div class="income">
                        
        <div class="lef">
             <h3>Missing</h3>
             <h1>$10,024</h1>
        </div>
    
    <small class="text-muted">Live</small>
    </div>
    <!-- ---------------------------------------------- -->
    <div class="income">
    
    <div class="lef">
         <h3>Non-Missing</h3>
         <h1>$10,024</h1>
    </div>
    
    <small class="text-muted">Live</small>
    </div>
  
                  
        </div>
</main>
<!-- ---------------------------------------- End of main  ---------------------------------------- -->
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-symbols-sharp">menu</span>
            </button>
            <div class="profile">
                <div class="info">
                    <!-- user name -->
                    <p>Hey, <b>Daniel</b></p> 
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <span class="material-symbols-sharp">
                        person
                        </span>
                </div>
            </div>
        </div>
        
            <!-- ---------------------------------------- End of recent update  ---------------------------------------- -->
        <div class="sales-analytics">
            <h2>Notifications</h2>
            <div class="item online">
                <div class="icon">
                    <span class="material-symbols-sharp">
                        radio_button_checked
                        </span>    
                </div>
                <div class="right">
                    <div class="info">
                        <h3>ONLINE ORDERS</h3>
                        <small class="text-muted"> Last 24 Hours</small>
                    </div>
                    
                    <h3></h3>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-symbols-sharp">
                        radio_button_checked
                        </span>   
                </div>
                <div class="right">
                    <div class="info">
                        <h3>OFFLINE ORDERS</h3>
                        <small class="text-muted"> Last 24 Hours</small>
                    </div>
                    <h5 class="danger"></h5>
                    <h3></h3>
                </div>
            </div><div class="item customers">
                <div class="icon">
                    <span class="material-symbols-sharp">
                        radio_button_checked
                        </span> 
                </div>
                <div class="right">
                    <div class="info">
                        <h3>NEW CUSTOMERS</h3>
                        <small class="text-muted"> Last 24 Hours</small>
                    </div>
                    <h5 class="success"></h5>
                    <h3></h3>
                </div>
            </div>
            
            </div>
        </div>
    </div>
    </div>
    <script src="/static/logic/summary.js"></script>
</body>
</html>
<!-- 

<body>
  
<div class="container bg-dark text-white">
  <table border="1">
    <tr>
        <th><p>TO <br> FROM </p>></th>
    </tr>
    <tr>
        <th>&nbsp;  EMPTY </th>
        <th>Factory</th>
        <th>Rusail</th>
        <th>Sur</th>
        <th>Sohar</th>
        <th>Salalah</th>
    </tr>
    <tr>
        <th>Factory</th>
        <td>Table cell 1</td>
        <td>Table cell 2</td>
        <td>Table cell 3</td>
        <td>Table cell 4</td>
        <td>Table cell 5</td>
    </tr>
    <tr>
        <th>Rusail</th>
        <td>Table cell 1</td>
        <td>Table cell 2</td>
        <td>Table cell 3</td>
        <td>Table cell 4</td>
        <td>Table cell 5</td>
    </tr>
    <tr>
        <td>Sur</td>
        <td>Table cell 1</td>
        <td>Table cell 2</td>
        <td>Table cell 3</td>
        <td>Table cell 4</td>
        <td>Table cell 5</td>
    </tr>
    <tr>
        <td>Sohar</td>
        <td>Table cell 1</td>
        <td>Table cell 2</td>
        <td>Table cell 3</td>
        <td>Table cell 4</td>
        <td>Table cell 5</td>
    </tr>
    <tr>
      <td>Salalah</td>
      <td>Table cell 1</td>
      <td>Table cell 2</td>
      <td>Table cell 3</td>
      <td>Table cell 4</td>
      <td>Table cell 5</td>
  </tr>
</table>
</div>

<div class="missing creates ">
  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>


</div>
<script>
  var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];// using django
  var yValues = [55, 49, 44, 24, 15]; // using django
  var barColors = ["red", "green","blue","orange","brown"]; // using django
  
  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "World Wine Production 2018"
      }
    }
  });
  </script>




<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->
