
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/loginp.css' %}">

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->


  	  
  	    <!-- Tabs Titles -->

  	    <!-- Icon -->
  	    
  	      <img src="/static/img/logestic.png" id="icon" alt="User Icon" />
  	      
  	  

  	    <!-- Login Form -->
  	    <form method='post' action="" class="form"> {% csrf_token %}
  	      <h3 class="my-5">Sign In</h3>
			<input type="text" class="user" name="username" placeholder="Username">
  	      <input type="text" class="password" name="password" placeholder="Password">
		      <a href="#"><h5>Forget Password</h5></a>
  	      <input type="submit" class="login" value="Login">

  	    </form>
  	    



